.howToUseModalContainer {
    max-width: 90vw;
    display: grid;
    /* row-gap: 1rem; */
}

.howToUseModalTextTitle {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'BigNoodleTitling Regular';
}

.howToUseModalImg {
    max-width: 100%;
    justify-self: center;
}

.howToUseModalTextParagraph {
    line-height: 1.5;
}

.closeButton {
    justify-self: center;
    padding: 0.5rem 1rem;
    background-color: var(--colour-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}