.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 0 auto;
    padding: 3.2rem 3.2rem 6rem;
    grid-template-areas: "header" "main-content";
    grid-template-rows: .1fr .9fr;
    min-height: 100vh;
    overflow-y: auto;
    container-type: inline-size;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.mainContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .mainContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
