.mainContainer {
    position: relative;
    grid-template-areas: "header" "main-content";
    grid-template-rows: .1fr .9fr;
    height: 100vh;
    overflow-y: scroll;
    container-type: inline-size; 
}


/* Hide scrollbar for Chrome, Safari and Opera */
.mainContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .mainContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  