.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.raftName {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}