.martyBattContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: end;
    row-gap: 2px;
    padding-bottom: .8rem;
}

.martyBattPercentage {
    font-size: 1rem;
    padding-left: .2rem;
}