.header {
    grid-area: header;
    display: grid;
    grid-template-columns: .2fr .8fr;
    margin-bottom: 1rem;
}

.title {
    font-size: 4rem;
    text-align: left;
    align-self: center;
}

.helpButton {
    grid-column: 1/3;
    justify-self: center;
    padding: 1rem;
}