.buttonConnContainer {
  display: grid;
  grid-template-columns: 70% 30%;
  cursor: pointer;
}

.connectButtonSvgContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.connectButtonSvgContainer svg {
  /* width: 80%; */
  height: 80%;
}

.connectSilhouetSvgContainer {
  padding-top: 0.5rem;
  display: grid;
  align-items: end;
}

.connectSpinnerSvgContainer {
  display: grid;
  align-items: center;
  justify-items: center;
}

.connectSpinnerSvgContainer svg {
  width: 80%;
}
