.container {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.graphsArea {
    display: grid;
    grid-auto-rows: minmax(40vh, 40vh);

}

.addGraphBtn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: lightgray;
    cursor: pointer;
}

.martyConnectedFallback {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: lightcoral;
    padding: 1rem;
}